<form>
  <div class="container">

    <div class="form-group songname">
      <label for="songname">Song Name</label>
      <input
      type="text"
      id="songname"
      class="form-control"
      ngModel
      name=songname
      >
    </div>

    <div class="form-group tempo">
      <label for="tempo">Tempo</label>
      <input
      type="number"
      id="tempo"
      class="form-control"
      ngModel
      name=tempo>
    </div>

    <div class="form-group key">
      <label for="key">Key</label>
      <input
      type="number"
      id="key"
      class="form-control"
      ngModel
      name=key>
    </div>


    <div class="form-group composer">
      <label for="composer">Composer</label>
      <input
      type="text"
      id="composer"
      class="form-control"
      ngModel
      name=composer>
    </div>

    <div class="form-group style">
      <label for="style">Style</label>
      <input
      type="number"
      id="style"
      class="form-control"
      ngModel
      name=style>
    </div>

    <div class="btn-group">
      <button type="submit" class="save">Save</button>
      <button type="button" class="clear">Clear</button>
    </div>

  </div>
</form>
