<div class="container">
  <ul>

    <li>
      <div class="picture">
        🚗
      </div>
      <div class="li-head">
        <span>Aflitos</span>
        <span>Felipe Chernicharo</span>
      </div>
      <div class="li-info">
        <span>Maracatu-Baião</span>
        <div class="num-info">
          <span>♩ = 110</span>
          <span>Gm</span>
        </div>
      </div>
    </li>




    <li>
      <div class="picture">
        🚗
      </div>

      <div class="li-head">
        <span>Expresso Paraíso</span>
        <span>Felipe Chernicharo</span>
      </div>
      <div class="li-info">
        <span>Baião-Samba-Chula</span>
        <div class="num-info">
          <span>♩ = 100</span>
          <span>C</span>
        </div>
      </div>
    </li>
  </ul>
</div>
