<div class="container">
  <ul>


    <li *ngFor="let song of songs">
      <!-- <div class="picture">

      </div> -->
      <div class="li-head">
        <span>{{ song.songname }}</span>
        <span>{{ song.composer }}</span>
      </div>
      <div class="li-info">
        <span>{{ song.style }}</span>
        <div class="num-info">
          <span>♮{{ song.key }}</span>
          <span>♩{{ song.tempo }}</span>
        </div>
      </div>

    </li>




    <!-- <li>
      <div class="picture">
        🚗
      </div>

      <div class="li-head">
        <span>Expresso Paraíso</span>
        <span>Felipe Chernicharo</span>
      </div>
      <div class="li-info">
        <span>Baião-Samba-Chula</span>
        <div class="num-info">
          <span>♩ = 100</span>
          <span>C</span>
        </div>
      </div>
    </li>
  </ul> -->
<!-- </div> -->
